Options -Indexes
Options +FollowSymLInks

## PROTECT FILES ###
<filesMatch ".(htaccess|htpasswd|ini|phps|fla|psd|log|sh|php)$">
Order Allow,Deny
Deny from all
</filesMatch>

<FilesMatch "index.php|error.php">
Order Allow,Deny
Allow from all
</FilesMatch>

#URL Rewriting
RewriteEngine On

RewriteRule ^admin$ index.php?controller=MainController&method=adminView
RewriteRule ^login$ index.php?controller=MainController&method=loginClick